## 1. What exactly is [ ]?

- Empty list i.e that list does not have any items.

## 2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [78]:
spam  = [2,4,6,8,10]

In [79]:
spam[2] = 'hello'
spam

[2, 4, 'hello', 8, 10]

## Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.

In [24]:
spam = ['a','b','c','d']

## 3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [23]:
"3"*2

'33'

In [26]:
33/11

3.0

In [27]:
int(3.0)

3

In [28]:
spam[3]

'd'

- spam[int(int('3' * 2) / 11)] is 'd'

## 4. What is the value of spam[-1]?

- -1 gives last digit

In [30]:
spam[-1]

'd'

## 5. What is the value of spam[:2]?

- [:n] gives numbers from 0th index to nth index but not n

In [31]:
spam[:2]

['a', 'b']

## Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.

In [46]:
bacon = [3.14,'cat',11,'cat',True]

## 6. What is the value of bacon.index(&#39;cat&#39;)?

- .index() will returns the position of specified value at the first occurance. In the list bacon, 'cat' is in 1 and 3rd positions but the first occurance is in 1st position so .index('cat') will return 1.

In [47]:
bacon.index('cat')

1

## 7. How does bacon.append(99) change the look of the list value in bacon?

- .append() will add value at the end of the list

In [48]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

## 8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

- .remove() removes the value that is in the first occurance. So 'cat' that is in 1st position will be removed.

In [49]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

## 9. What are the list concatenation and list replication operators?

- List concatenation operator - '+'
- List replication operator - '*'

## 10. What is difference between the list methods append() and insert()?

- .append() will add value at the end of the list.
- .insert() will add values at the specified position.

## 11. What are the two methods for removing items from a list?

- 1. .pop() removes the elements at the specified position.
- 2. .remove() removes the elements with the specified value at the first occurance.

In [67]:
list1  = [123,'asd',23.4,123,123,12+6j,True]

In [68]:
list1.pop(1)
list1

[123, 23.4, 123, 123, (12+6j), True]

In [69]:
list1.remove(123)
list1

[23.4, 123, 123, (12+6j), True]

## 12. Describe how list values and string values are identical.

- List and string both are used to store data that is sequential.

- A list is a sequential collection of python data values and strings can be defined as sequential collections of characters.

## 13. What&#39;s the difference between tuples and lists?

- Tuples are immutable that means tuples cannot be modified. Tuple will be created using paranthesis()>
- Lists are mutable. List will be created using square bracket[].

In [72]:
tuple1 = (23,'asd',23.4,123,123,12+6j,True)
type(tuple1)

tuple

In [ ]:
list1  = [123,'asd',23.4,123,123,12+6j,True]
type(list1)

In [82]:
list1[2] = 'mnbv'
list1

[123, 'asd', 'mnbv', 123, 123, (12+6j), True]

In [83]:
tuple1[2]='mnbv'
tuple1

TypeError: 'tuple' object does not support item assignment

## 14. How do you type a tuple value that only contains the integer 42?

In [85]:
tuple1 = (42,)
type(tuple1)

tuple

## 15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

In [86]:
list1  = [123,'asd',23.4,123,123,12+6j,True]
type(list1)

list

In [91]:
x = tuple(list1)
print(x)

(123, 'asd', 23.4, 123, 123, (12+6j), True)

In [92]:
type(x)

tuple

In [89]:
tuple1 = (23,'asd',23.4,123,123,12+6j,True)
type(tuple1)

tuple

In [93]:
y = list(tuple1)
print(y)

[23, 'asd', 23.4, 123, 123, (12+6j), True]

In [94]:
type(y)

list

## 16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they contain?

- They contain reference to a list.

## 17. How do you distinguish between copy.copy() and copy.deepcopy()?

- we use = operator to create a copy of an object.  It creates a new variable that shares the reference of the original object.
- Here I created a list named list1 and pass an object reference to list2 using = operator.

In [135]:
list1 = [1,2,33,4,'hgf']
list2 = list1

In [136]:
list1,list2

([1, 2, 33, 4, 'hgf'], [1, 2, 33, 4, 'hgf'])

In [137]:
list2[2] = 44

In [138]:
list1, list2

([1, 2, 44, 4, 'hgf'], [1, 2, 44, 4, 'hgf'])

- Here if I change any values in list1 or list2 the change is visible in both.

- A shallow copy creates a new object which stores the reference of the original elements.
- If we change value in 1 list, the other list will not change.
- But in nested list if we change value it will visible in both list1 and list2

In [139]:
# copy or shallow copy
list1 = [1,2,33,4,'hgf']
list2 = list1.copy()

In [140]:
list1, list2

([1, 2, 33, 4, 'hgf'], [1, 2, 33, 4, 'hgf'])

In [141]:
list2[2] = 44

In [142]:
list1, list2

([1, 2, 33, 4, 'hgf'], [1, 2, 44, 4, 'hgf'])

In [143]:
#shallow copy in nested list
list1 = [[1,2,33,4,'hgf'],[3,'hg',9,11]]
list2 = list1.copy()

In [144]:
list1,list2

([[1, 2, 33, 4, 'hgf'], [3, 'hg', 9, 11]],
 [[1, 2, 33, 4, 'hgf'], [3, 'hg', 9, 11]])

In [145]:
list2[1][0] = 23

In [146]:
list1,list2

([[1, 2, 33, 4, 'hgf'], [23, 'hg', 9, 11]],
 [[1, 2, 33, 4, 'hgf'], [23, 'hg', 9, 11]])

- A deep copy creates a new object and recursively adds the copies of nested objects present in the original elements.
- If we change value in 1 list, the other list will not change.
- In nested list also  if we change value in 1 list, values in other list does not change.

In [147]:
# deep copy
import copy
list1 = [1,2,33,4,'hgf']
list2 = copy.deepcopy(list1)

In [148]:
list1,list2

([1, 2, 33, 4, 'hgf'], [1, 2, 33, 4, 'hgf'])

In [150]:
list2[2]= 44

In [151]:
list1,list2

([1, 2, 33, 4, 'hgf'], [1, 2, 44, 4, 'hgf'])

In [152]:
#deep copy in nested list
list1 = [[1,2,33,4,'hgf'],[3,'hg',9,11]]
list2 = copy.deepcopy(list1)

In [153]:
list2[1][0] = 23

In [154]:
list1,list2

([[1, 2, 33, 4, 'hgf'], [3, 'hg', 9, 11]],
 [[1, 2, 33, 4, 'hgf'], [23, 'hg', 9, 11]])