## 1. What are escape characters, and how do you use them?

- An escape character is a backslash \ followed by the character that has to insert.

- You will get an error if you use double quotes inside a string that is surrounded by double quotes

In [1]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-1-56cdf4283a8e>, line 1)

- To fix this problem, we use the escape character \"

In [4]:
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

## 2. What do the escape characters n and t stand for?

- \n means new line
- \t means tab

In [5]:
txt = "Vineeth\nReddy\nChinthala"
print(txt)

Vineeth
Reddy
Chinthala

In [6]:
txt = "Vineeth\tReddy\tChinthala"
print(txt)

Vineeth	Reddy	Chinthala

## 3. What is the way to include backslash characters in a string?

In [7]:
txt = "Vineeth\\Reddy\\Chinthala"
print(txt)

Vineeth\Reddy\Chinthala

- It will insert 1 backslash

## 4. The string &quot;Howl&#39;s Moving Castle&quot; is a correct value. Why isn&#39;t the single quote character in the word Howl&#39;s not escaped a problem?

In [9]:
txt = "Howl's Moving Castle"
txt

"Howl's Moving Castle"

- Double quotes are given at the beginning and ending of the string anf for Howl's it is single quote. So there wont be any probelm.

In [20]:
txt = 'Howl"s Moving Castle'
txt

'Howl"s Moving Castle'

- Error will come if the quotes in the beginning, ending and in strings are same.

In [22]:
txt = "Howl"s Moving Castle"
txt

SyntaxError: invalid syntax (<ipython-input-22-4e50ee33dcb0>, line 1)

## 5. How do you write a string of newlines if you don&#39;t want to use the n character?

In [26]:
#without \n
line1 = print("Vineeth")
line2 = print("Reddy")
line3 = print("Chinthala")

Vineeth
Reddy
Chinthala

In [27]:
#with \n
txt = "Vineeth\nReddy\nChinthala"
print(txt)

Vineeth
Reddy
Chinthala

## 6. What are the values of the given expressions?
## &#39;Hello, world!&#39;

In [31]:
'Hello, world!'

'Hello, world!'

- H - 0
- e - 1
- l - 2
- l - 3
- o - 4
- , - 5
-   - 6
- w - 7
- o - 8
- r - 9
- l - 10
- d - 11
- ! - 12

#### &#39;Hello, world!&#39;[1]

In [33]:
'Hello, world!'[1]

'e'

#### &#39;Hello, world!&#39;[0:5]

-It will give values from 0th index to 5th index but not 5th

In [34]:
'Hello, world!'[0:5]

'Hello'

#### &#39;Hello, world!&#39;[:5]

-It will give values from 0th index to 5th index but not 5th

In [35]:
'Hello, world!'[:5]

'Hello'

#### &#39;Hello, world!&#39;[3:]

- It will give values from 3rd index to last index.

In [37]:
'Hello, world!'[3:]

'lo, world!'

## 7. What are the values of the following expressions?

- .upper() method returns a string where all characters are in upper case.

In [39]:
'Hello'.upper()

'HELLO'

In [38]:
txt = "What are the values of the following expressions"
txt.upper()

'WHAT ARE THE VALUES OF THE FOLLOWING EXPRESSIONS'

#### 'Hello'.upper().isupper()

- Returns :
- True- If all characters in the string are uppercase.
- False- If the string contains 1 or more non-uppercase characters.

In [40]:
'Hello'.upper().isupper()

True

#### &#39;Hello&#39;.upper().lower()

- The lower() methods returns the lowercased string from the given string. It converts all uppercase characters to lowercase. If no uppercase characters exist, it returns the original string.

In [42]:
'Hello'.upper().lower()

'hello'

## 8. What are the values of the following expressions?&#39;Remember, remember, the fifth of July.&#39;.split()&#39;-&#39;.join(&#39;There can only one.&#39;.split())

- .split() method splits a string into a list.
- we can specify the separator, default separator is any whitespace.

In [43]:
'Remember, remember, the fifth of July.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'July.']

- join() is an inbuilt string function in Python used to join elements of the sequence separated by a string separator. This function joins elements of a sequence and makes it a string.

In [52]:
'-'.join('There can only one.'.split())

'There-can-only-one.'

## 9. What are the methods for right-justifying, left-justifying, and centering a string?

#### right-justifying

- Python’s rjust() function accepts the character for padding it to the input string.

- Then, it substitutes the character and does padding to the left of the input string.

In [ ]:
# Syntax
String.rjust(length,fill_char)

- length: The value of the length provided is basically used to justify the string of the given length.
- fill_char: This is an optional parameter. These are the characters that needs to be padded around the string.

In [59]:
txt = 'right justifying'

In [65]:
print(txt.rjust(20,'$'))

$$$$right justifying

#### left-justifying

- Python String ljust() function accepts the character for padding it to the input string. 
- Then, it substitutes the character and does padding to the right of the input string.

In [ ]:
# Syntax
String.ljust(length,fill_char)

In [66]:
txt = 'right justifying'

In [68]:
print(txt.ljust(20,'$'))

right justifying$$$$

#### centering a string

- This function center aligns the string according to the width specified and fills remaining space of line with blank space if ‘ fillchr ‘ argument is not passed.

In [69]:
txt = 'right justifying'

In [71]:
print(txt.center(20,'$'))

$$right justifying$$

## 10. What is the best way to remove whitespace characters from the start or end?

- To remove the spaces present at start and end of the string, you can use strip() function on the string.

In [82]:
txt = '      remove whitespace characters       '

In [84]:
len(txt)

41

In [85]:
new_txt = txt.strip()
new_txt

'remove whitespace characters'

In [86]:
len(new_txt)

28